RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_CALENDLY_URL=https://calendly.com/sterlingoakadvisory/intro
VITE_SITE_URL=https://www.sterling-oakadvisory.com
CONTACT_EMAIL=hello@sterling-oakadvisory.com
